<div class='container'>
<div class='col-xs-12'>
  <h1><img src='logo.png'></h1>
  <hr>
    <ui-view></ui-view>
  <hr>
    <center><footer>&copy; Sergey Andreev 2016</footer></center><br>
</div>
</div>




